SetEnv APPLICATION_ENV local
SetEnv ZF2_PATH "D:\PROJECT\thuydx.com\vendor\ZendFramework\library"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

